.sprite_p {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url('ps2.png');}
.sprite_p3 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url('ps3.png');}

.s1_p1  {width:640px; height:832px; background-position: 0px 0px;}
.s1_p2  {width:640px; height:832px; background-position: -640px 0px;}

.s2_p1  {width:640px; height:832px; background-position: -1280px 0px;}
.s2_p2  {width:640px; height:832px; background-position: 0px -832px;}

.s3_p1  {width:640px; height:832px; background-position: -640px -832px;}
.s3_p2  {width:640px; height:832px; background-position: -1280px -832px;}

.s4_p1  {width:640px; height:602px; background-position: 0px -1664px}
.s4_p2  {width:640px; height:327px; background-position: -640px -1664px;}
